@charset "utf-8";

/* Color Choices */
:root {
    --blue: #85DCBA;
    --dark_blue: #3AA192;
    --orange: #e08c50;
    --red_orange: #DA5A35;
    --purple: #BA7C90;
    --white: white;
}

/* General */
body {
    background:  var(--blue);
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titillium Web', sans-serif;
    color: var(--dark_blue);
    line-height: 2em;
}

/* layout */
.grid {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr 2fr;
    grid-template-rows: 1.2fr 8fr;
}

.content {
    font-size: 1.3rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bubbles {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* main tags*/
h1 {
    font-size: 3rem;
    line-height: 1em;
    color: var(--white);
    text-shadow: 0.1em 0.1em rgba(15, 28, 63, 0.125);
}

/* links */
a{
    color: var(--red_orange);
    text-decoration: none
}

a:hover {
    color: var(--orange);
}

/* link list */
#link-list {
    list-style-type: none;
    font-size: 1em;
    color: var(--orange);
    margin-left: -2em;
    margin-top: -1.5em;
    text-shadow: 0.1em 0.1em rgba(15, 28, 63, 0.125);
}
#link-list li {
    display: inline;
}
#link-list li::after {
    content: " | ";
}
#link-list li:last-child::after {
    content: "";
}

/* course list */
#courses {
    margin-top: -0.8em;
    list-style-type: none;
}
#courses li,
#courses li a {
    color: var(--white);
}
#courses li a:hover {
    color: var(--orange);
}
#courses li::before {
    content: "\2022";
    color: var(--dark_blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}


/* comma list */
.comma-list {
    margin-top: -0.8em;
    margin-left: -2em;
    list-style: none;
    color: var(--purple)
}
.comma-list li {
    display: inline;
}
.comma-list li::after {
    content: ", ";
}
.comma-list li:last-child::after {
    content: ".";
}
.comma-list li:hover {
    color: var(--orange);
    transition: 0.2s;
}

/* paragraphs */
p b {
    font-weight: normal;
    color: var(--white);
}
